{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}
<link href="contact.css" rel="stylesheet" >
{% endblock %}

{% block header %}
<h1>Contact</h1>
{% endblock %}

{% block body %}

{% if data is defined %}
<div id="send_message">
    <p>Votre mail a bien été envoyé</p>
    <p>Le contenu de votre message est : {{ data.message }}
</div>
{% else %}

<div class="formulaire_contact_mail">
    {{ form_start(form)}}
    <div>
        {{ form_label(form.nom)}} </br>
        {{ form_widget(form.nom)}}
    </div>
    <div>
        {{ form_label(form.prenom)}} </br>
        {{ form_widget(form.prenom)}}
    </div>
    <div>
        {{ form_label(form.departement)}} </br>
        {{ form_widget(form.departement)}}
    </div>
    <div>
        {{ form_label(form.mail)}} </br>
        {{ form_widget(form.mail)}}
    </div>
    <div>
        {{ form_label(form.message)}} </br>
        {{ form_widget(form.message)}}
    </div>
    <div>
        {{ form_label(form.submit)}}
        {{ form_widget(form.submit)}}
    </div>
    {{ form_end(form)}}
</div>
{% endif %}
{% endblock %}